*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,li{
    text-decoration: none;
    list-style: none;
}
.flex-col{
    display: flex;
    flex-direction: column; 
}
.flex {
    display: flex;
}
.navbar{
    height: 60px;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}
.navbar .left-side{
    align-items: center;
}
.navbar .left-side img{
    height: 36px;
}
.navbar .left-side a{
    display: inline-block;
    /* padding-inline: 30px; */
    
}
.navbar .left-side .items{
    /* padding-inline: 30px; */
    
    margin-left: 20px;
}
.navbar .left-side .list-items{
    padding: 18px;
    font-size: 1rem;
}
.navbar .left-side .list-items:hover{
    background-color:green;
}
.navbar .right-side .buttons{
    margin-left: 20px;
}
.navbar .right-side .buttons .sign-up{
    padding: 11px 25px;
    color: rgb(248, 248, 248) !important;
    background-color: green;
    border: none;
    border-radius: 23px;
    font-size: 1rem;
    
    /* margin-right: -20px; */
}
.navbar .right-side .buttons:nth-last-child(1){
    z-index: 1;
}
.navbar .right-side .buttons:nth-last-child(2){
    z-index: 0;
}

.navbar .right-side .buttons .log-in{
    padding: 11px 24px 11px 40px ;
    color: rgb(0, 0, 0);
    background-color: rgb(196, 236, 196);
    border: none;
    border-radius: 23px;
    margin-left: -30px;
    font-size: 1rem;
}
.navbar .right-side .buttons .log-in:hover{
    background-color: green;
}
.nav{
    height: 45px;
}
.html-scrollbar{
    height: 84vh;
    width: 230px;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-left: 30px; */
    overflow:auto;
    border: 1px solid;
    background-color: rgb(241, 241, 241);
    position:fixed;
}
.html-scrollbar .heading{
    text-align: center;
    margin-block: 15px;
    font-size: 25px;
   
}
.html-scrollbar .sub-heading{
    /* background-color: yellowgreen; */
    text-align: center;
    font-size: 18px;
    margin-block: 2px;
}
.html-scrollbar .sub-heading1{
    background-color:rgb(89, 199, 89) ;
    text-align: center;
    font-size: 18px;
    margin-block: 2px;
}
.html-scrollbar li,a{
    color: black;
    margin-block: 3px;
    font-size: 14px;
    /* text-align: justify; */
}
.html-scrollbar li:hover{
    background-color: rgb(179, 179, 179);
}
/*  */
.middle-container{
    width: 70%;
    /* border: 1px solid; */
    margin-left: 230px;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}
.img-container img{
    width: 100%;
}
.middle-container p{
    font-size: 2.7rem;
    /* font-weight: 600; */
    margin-block: 15px;
}
.middle-container .btn-container{
    justify-content: space-between;
}
.middle-container button{
    background-color: rgb(89, 199, 89);
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}
.middle-container button:hover{
    background-color: rgb(169, 245, 169);

}
.middle-container span{
    margin-left:2px;
    margin-right: 2px;
}
/*  */
.content1{
    width: 100%;
    padding-inline: 40px;
    margin-bottom: 25px;
}
.content{
    width: 100%;
    background-color: rgb(185, 236, 238);
    padding-inline: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;

}
.content P{
    font-size: 17px;
    /* font-weight: 500; */
}
.content a{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin-block: 25px;
}
.content .btn1{
    background-color:  rgb(89, 199, 89);
}
.content .btn1:hover{
    opacity: 0.7;
}
.content .btn2{
    background-color:  rgb(0, 0, 0);
}
.content .btn2:hover{
   opacity: 0.7;
  }
  .box{
    padding-inline:20px;
    padding-block:20px ;
  }
.content3 {
    border-top:1px solid rgb(184, 181, 181);
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 30px 10px 20px 10px;
    background-color: white;
}
.content3 .title{
    font-size: 2rem;

}
.content3 .sub-title{
    font-size:1rem;
    margin-block: 20px;

}
.content3 .card{
    background-color: rgb(224, 223, 223);
    padding: 20px 20px;
    border-radius:5px ;
}
.content3 .card .box-header{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.content3 .card .main-box{
    border-left: 8px solid green;
    background-color: white;
    width: 100%;
    min-height:300px;
}
.content3 button{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(89, 199, 89);
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin-top: 20px;
    /* margin-bottom: 0px;   */
    color: white;  
}
.content3 .box-footer{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
}
.box2{
    padding: 20px 20px;
    /* height: 300px; */
}

.box2 .title2{
    font-size: 2rem;
    margin-block: 20px;
}
.box2 .sub-title2{
    font-size: 1.2rem;
}
.box2 .btn3{
    padding: 10px 20px ;
    background-color: rgb(230, 229, 229);
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-block: 20px;
}
.box2 .btn3:hover{
    background-color: rgb(89, 199, 89);
}
.box2 .add{
    padding: 20px 20px ;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top:1px solid rgb(228, 228, 228);
    margin-block: 20px;
    font-size: 14px;
    text-align: center;
}
.content3 .link{
    font-size: 19px;
    color: white;
    margin-left: 10px;
    text-decoration: underline;
}
.content3 .box-footer{
    font-size: 17px;
    margin-left: 10px;

}
/*  */
.quiz-box{
    margin-inline:20px;
    padding-block:25px ;
    border-bottom: 1px solid gainsboro;
}
.quiz-box .title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.quiz-box .sub-title{
    font-size: medium;
}
.quiz-box .btn{
    background-color:rgb(0, 89, 255);
    color: white;
    font-size: 1rem; ;
    padding: 10px 10px;
}

.quiz-box .btn:hover {
    background-color:rgb(0, 89, 255);
    opacity: 0.7;
}
/*  */
.learning-box{
    margin-inline:20px;
    padding-block:25px ;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.learning-box .title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.learning-box .sub-title{
    font-size: medium;
}
.learning-box .card{
    position: relative;
    padding-block:70px;
}
.learning-box .card-item{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    padding: 25px;
}
.learning-box .card-item .card-title{
    font-size: 1.3rem;
}
.learning-box .card-item .card-body{
    font-size: 0.8rem;
    color: rgb(168, 168, 168);
    width: 400px;
    /* margin-bottom: 10px; */
}
.learning-box .card-item .card-footer{
    margin-block: 20px;
    font-size: 0.8rem;
    color: rgb(168, 168, 168);
}
.learning-box .card-item button{
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 25px;
    padding: 5px 60px;
    margin-right: 30px;
    font-size: 1rem;
    font-weight:500 ;
}
.learning-box .card-item span{
    color:rgb(46, 46, 46) ;
}
/*  */
.references-box{
    margin-inline:20px;
    padding-block:25px ;
    border-bottom: 1px solid gainsboro;
}
.references-box .title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.references-box .sub-title{
    font-size: medium;
    margin-bottom: 40px;
}
.references-box .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.references-box .grid .grid-container{
    border-radius: 5px;
    border: none;
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding: 20px 50px;
}
.references-box .grid .grid-container:hover{
    background-color: black;
    color: white;
}
/*  */
.kickstart {
    padding-inline: 20px;
    
}
.kickstart-box{
    padding: 40px 50px;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    position: relative;
    /* min-height:300px; */
}
.kickstart-box p{
    color: #f1c9d7 !important;
    margin: 20px 0px 30px 0px;
}
.kickstart-box h1{
    color: #f1c9d7 !important;
    margin: 20px 0px 50px 0px;
    font-size: 3rem;
}
.kickstart-box .btn{
    background-color: rgba(91, 192, 91, 0.897);
    border-radius: 30px;
    color: white;
    padding: 15px 45px;
    border: none;
    margin-block: 20px;
}
.kickstart .icon{
    position: absolute;
    bottom: -100px;
    right: 80px;
}
.kickstart .icon img{
    height: 220px;
}
.kickstart .buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-inline: 20px;
}
.kickstart .buttons .button1{
    background-color: rgba(61, 204, 61,);
    color: white;
    padding: 10px 25px;
}
.kickstart .buttons .button1:hover{
    background-color: rgb(61, 204, 61);  
}
.kickstart .buttons .button2{
    background-color: white;
    color: black;
    border: 1px solid rgb(223, 223, 223);
}

.kickstart .buttons .button2:hover{
    background-color: rgb(223, 223, 223);
}
.footer{
    /* width: 100px;padding: ; */
    margin-left: 250px;
    padding-right: 20px;
}
.footer .buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    column-gap:15px; 
    border-top: 1px solid  rgb(223, 223, 223);
    border-bottom: 1px solid  rgb(223, 223, 223);
    height: 90px;

}
.footer .buttons .button{
    background-color: black;
    color: white;
    padding: 10px 60px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    /* flex-shrink: 0; */
}
.footer .buttons .button:hover{
    background-color: rgba(91, 192, 91, 0.897);
}

.footer .grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* padding-inline: 20px; */
    margin-inline: 20px;
    border-bottom:1px solid  rgb(223, 223, 223);
}
.footer .grid .grid-box{
    text-align: center;
}
.footer .grid .grid-box .title{
    font-size: 1rem;
    margin-block: 15px;
}
.footer .grid .grid-box p{
    font-size: 14px;
    margin-top: 2px;
}
.footer .grid .grid-box p:hover{
    text-decoration: underline;
}
.footer .bottom-footer{
    color: gray;
    padding-inline:30px ;
}

.footer .bottom-footer .top{
    text-align: end;
    margin-top: 30px;
}
.footer .bottom-footer .middle{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
.footer .bottom-footer .bottom{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    width: 400px;
    margin-inline: auto;
}
.footer .bottom-footer .bottom a{
    font-size: 13px;
    color: gray;
}
.footer .bottom-footer .bottom a:hover{
    color: green;
    text-decoration: underline;
}

